@model Entities_Hotel_5_Rosas.Entity_Galeria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entity_Galeria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Pagina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Pagina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PK_Galeria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
