@model Entities_Hotel_5_Rosas.Entity_Habitacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Entity_Habitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PK_Habitacion" />
            <div class="form-group">
                <label asp-for="FK_Tipo_Habitacion" class="control-label"></label>
                <input asp-for="FK_Tipo_Habitacion" class="form-control" />
                <span asp-validation-for="FK_Tipo_Habitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_Hotel" class="control-label"></label>
                <input asp-for="FK_Hotel" class="form-control" />
                <span asp-validation-for="FK_Hotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero_Habitacion" class="control-label"></label>
                <input asp-for="Numero_Habitacion" class="form-control" />
                <span asp-validation-for="Numero_Habitacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
